<!DOCTYPE html>
<html>
<head>
    <title>WinBDD - Alumnos</title>
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/bootstrap-theme.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    @{
        if (!IsPost)
        {
        }
        else
        {
            /// Nuevo alumno - 100%
            try
            {
                if (Request["nuevo_confirmar"] != null)
                {
                    WinBDDRazor.logic.alumnos.Codalu = Request["nuevo_codalu"];
                    WinBDDRazor.logic.alumnos.Codcur = Request["nuevo_codcur"];
                    WinBDDRazor.logic.alumnos.Dni = Request["nuevo_dni"];
                    WinBDDRazor.logic.alumnos.Apellido = Request["nuevo_apellido"];
                    WinBDDRazor.logic.alumnos.Nombre = Request["nuevo_nombre"];

                    new WinBDDRazor.logic.alumnos().CrearAlumno();
                }
            }
            catch (Exception)
            {
            }

            /// Modificar alumno - 100%
            try
            {
                if (Request["modificar_confirmar"] != null)
                {
                    WinBDDRazor.logic.alumnos.Codalu = Request["modificar_codalu"];
                    WinBDDRazor.logic.alumnos.Codcur = Request["modificar_codcur"];
                    WinBDDRazor.logic.alumnos.Dni = Request["modificar_dni"];
                    WinBDDRazor.logic.alumnos.Apellido = Request["modificar_apellido"];
                    WinBDDRazor.logic.alumnos.Nombre = Request["modificar_nombre"];

                    new WinBDDRazor.logic.alumnos().ActualizaAlumno();
                }
            }
            catch (Exception)
            {
            }

            /// Eliminar alumno - 100%
            try
            {
                if (Request["borrar_confirmar"] != null && Request["eliminar_checkbox"] != null)
                {
                    WinBDDRazor.logic.alumnos.Codalu = Request["borrar_codalu"];
                    new WinBDDRazor.logic.alumnos().BorrarAlumno();
                }
            }
            catch (Exception)
            {
            }
        }
    }
    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="cursos.cshtml">Cursos</a></li>
                    <li role="presentation" class="active"><a href="alumnos.cshtml">Alumnos</a></li>
                    <li role="presentation"><a href="notas.cshtml">Notas</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">WinBDD Razor</h3>
        </div>

        @* Cursos contenedor *@
        <div id="form-container" style="width:100%;">
            <form method="post" action="">
                <table class="table table-hover">
                    <tr>
                        <td>Codigo alumno</td>
                        <td>Codigo curso</td>
                        <td>Dni</td>
                        <td>Nombre</td>
                        <td>Apellido</td>
                        <td>Modificar</td>
                        <td>Borrar</td>
                    </tr>

                    @foreach (WinBDDRazor.ALUMNO a in new WinBDDRazor.logic.alumnos().GetAllAlumnos())
                    {
                    <tr>
                        <td>@a.COD_ALU</td>
                        <td>@a.COD_CUR</td>
                        <td>@a.DNI</td>
                        <td>@a.APELLIDOS</td>
                        <td>@a.NOMBRE</td>
                        <td><button type="button" class="btn btn-warning" data-toggle="modal" data-target=".bs-modificar-modal-sm" onclick="CargarModificar('@a.COD_ALU', '@a.COD_CUR', '@a.DNI', '@a.APELLIDOS', '@a.NOMBRE');">Modificar</button></td>
                        <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target=".bs-borrar-modal-sm" onclick="CargarBorrar('@a.COD_ALU', '@a.COD_CUR', '@a.DNI', '@a.APELLIDOS', '@a.NOMBRE');">Borrar</button></td>
                    </tr>
                    }
                </table>
            </form>
            <div class="text-center">


                <div class="btn-group" style="text-align:center;">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-nuevo-modal-sm">Nuevo</button>
                    @*<button type="submit" class="btn btn-warning" data-toggle="modal" data-target=".bs-modificar-modal-sm">Modificar</button>*@
                    @*<button type="submit" class="btn btn-danger" data-toggle="modal" data-target=".bs-borrar-modal-sm">Borrar</button>*@
                </div>
            </div>
        </div>

        @* Modal nuevo curso *@
        <div class="modal fade bs-nuevo-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="text-center">
                        <h2>Nuevo alumno</h2>
                    </div>
                    <div id="modal-form-container">
                        <form method="post" action="">
                            <div class="form-group">
                                <label for="cod_alu">Codigo de alumno</label>
                                <input type="text" class="form-control" id="cod_alu" placeholder="Codigo de alumno" name="nuevo_codalu">
                            </div>
                            <div class="form-group">
                                <label for="cod_cur">Codigo de curso</label>
                                <select class="form-control" name="nuevo_codcur" id="cod_cur">
                                    @foreach (WinBDDRazor.CURSO c in new WinBDDRazor.logic.cursos().GetAllCursos())
                                    {
                                    <option value="@c.COD_CUR">@c.DESCRIPCION</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="dni">DNI</label>
                                <input type="text" class="form-control" id="dni" placeholder="DNI" name="nuevo_dni">
                            </div>
                            <div class="form-group">
                                <label for="apellidos">Apellidos</label>
                                <input type="text" class="form-control" id="apellidos" placeholder="Apellidos" name="nuevo_apellido">
                            </div>
                            <div class="form-group">
                                <label for="nombre">Nombre</label>
                                <input type="text" class="form-control" id="nombre" placeholder="Nombre" name="nuevo_nombre">
                            </div>
                            <div class="text-center">
                                <div class="form-group btn-group" style="margin-bottom: -15px;">
                                    <button type="submit" class="btn btn-success" name="nuevo_confirmar">Confirmar</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        @* Modal modificar curso *@
        <div class="modal fade bs-modificar-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="text-center">
                        <h2>Modificar alumno</h2>
                    </div>
                    <div id="modal-form-container">
                        <form method="post" action="">
                            <div class="form-group">
                                <label for="cod_alu">Codigo de alumno</label>
                                <input type="text" class="form-control" id="modificar_cod_alu" placeholder="Codigo de alumno" name="modificar_codalu" value="" readonly />
                            </div>
                            <div class="form-group">
                                <label for="cod_cur">Codigo de curso</label>
                                <select class="form-control" name="modificar_codcur" id="modificar_cod_cur">
                                    @foreach (WinBDDRazor.CURSO c in new WinBDDRazor.logic.cursos().GetAllCursos())
                                    {
                                    <option value="@c.COD_CUR">@c.DESCRIPCION</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="dni">DNI</label>
                                <input type="text" class="form-control" id="modificar_dni" placeholder="DNI" name="modificar_dni" value="" />
                            </div>
                            <div class="form-group">
                                <label for="apellidos">Apellidos</label>
                                <input type="text" class="form-control" id="modificar_apellidos" placeholder="Apellidos" name="modificar_apellido" value="" />
                            </div>
                            <div class="form-group">
                                <label for="nombre">Nombre</label>
                                <input type="text" class="form-control" id="modificar_nombre" placeholder="Nombre" name="modificar_nombre" value="" />
                            </div>
                            <div class="text-center">
                                <div class="form-group btn-group" style="margin-bottom: -15px;">
                                    <button type="submit" class="btn btn-success" name="modificar_confirmar">Confirmar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        @* Modal borrar curso *@
        <div class="modal fade bs-borrar-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="text-center">
                        <h2>Borrar alumno</h2>
                    </div>
                    <div id="modal-form-container">
                        <form method="post" action="">
                            <div class="form-group">
                                <label for="cod_alu">Codigo de alumno</label>
                                <input type="text" class="form-control" id="borrar_cod_alu" placeholder="Codigo de alumno" name="borrar_codalu" value="" readonly />
                            </div>
                            <div class="form-group">
                                <label for="cod_cur">Codigo de curso</label>
                                <select class="form-control" name="borrar_codcur" id="borrar_cod_cur" readonly>
                                    @foreach (WinBDDRazor.CURSO c in new WinBDDRazor.logic.cursos().GetAllCursos())
                                    {
                                    <option value="@c.COD_CUR">@c.DESCRIPCION</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="dni">DNI</label>
                                <input type="text" class="form-control" id="borrar_dni" placeholder="DNI" name="borrar_dni" value="" readonly />
                            </div>
                            <div class="form-group">
                                <label for="apellidos">Apellidos</label>
                                <input type="text" class="form-control" id="borrar_apellidos" placeholder="Apellidos" name="borrar_apellido" value="" readonly />
                            </div>
                            <div class="form-group">
                                <label for="nombre">Nombre</label>
                                <input type="text" class="form-control" id="borrar_nombre" placeholder="Nombre" name="borrar_nombre" value="" readonly />
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="eliminar_checkbox" value="option1" aria-label="...">
                                        Confirmar para borrar curso
                                    </label>
                                </div>
                            </div>
                            <div class="text-center">
                                <div class="form-group btn-group" style="margin-bottom: -15px;">
                                    <button type="submit" class="btn btn-success" name="borrar_confirmar">Confirmar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <p style="text-align:center">&copy; Emiliano Montesdeoca del Puerto - 1DAWB - PRO.</p>
        </footer>
    </div>
    <!-- /container -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="assets/js/bootstrap.js"></script>

    @* Javascript necesario para no hacer postback *@
    <script type="text/javascript" language="javascript">
        function CargarModificar(codalu, codcur, dni, apellidos, nombre) {
            document.getElementById("modificar_cod_alu").setAttribute('value', codalu);
            document.getElementById("modificar_cod_cur").setAttribute('value', codcur);
            document.getElementById("modificar_dni").setAttribute('value', dni);
            document.getElementById("modificar_apellidos").setAttribute('value', apellidos);
            document.getElementById("modificar_nombre").setAttribute('value', nombre);

            var element = document.getElementById('modificar_cod_cur');
            element.value = codcur;
        }
    </script>

    @* Javascript necesario para no hacer postback *@
    <script type="text/javascript" language="javascript">
        function CargarBorrar(codalu, codcur, dni, apellidos, nombre) {
            document.getElementById("borrar_cod_alu").setAttribute('value', codalu);
            document.getElementById("borrar_cod_cur").setAttribute('value', codcur);
            document.getElementById("borrar_dni").setAttribute('value', dni);
            document.getElementById("borrar_apellidos").setAttribute('value', apellidos);
            document.getElementById("borrar_nombre").setAttribute('value', nombre);

            var element = document.getElementById('borrar_cod_cur');
            element.value = codcur;
        }
    </script>
</body>
</html>
