<!DOCTYPE html>
<html>
<head>
    <title>WinBDD - Cursos</title>
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/bootstrap-theme.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    @{
        if (!IsPost)
        {
            /// Carga de curso inicial, siempre en 0.
            WinBDDRazor.logic.cursos.posi = 0;
        }
        else
        {
            /// Cambio cursos - 100%
            try
            {
                if (Request["cambiocur"].ToString() != null)
                {
                    switch (Request["cambiocur"].ToString())
                    {
                        case "0":
                            WinBDDRazor.logic.cursos.posi = 0;
                            break;
                        case "1":
                            WinBDDRazor.logic.cursos.posi -= 1;
                            break;
                        case "2":
                            WinBDDRazor.logic.cursos.posi += 1;
                            break;
                        case "3":
                            WinBDDRazor.logic.cursos.posi = int.MaxValue;
                            break;
                        default:
                            break;
                    }
                }
            }
            catch (Exception)
            {
            }

            /// Nuevo curso - 100%
            try
            {
                if (Request["nuevo_confirmar"] != null)
                {
                    WinBDDRazor.logic.cursos.Codcur = Request["nuevo_codcur"];
                    WinBDDRazor.logic.cursos.Descripcion = Request["nuevo_descripcion"];
                    WinBDDRazor.logic.cursos.Horas = Convert.ToInt32(Request["nuevo_horas"]);
                    WinBDDRazor.logic.cursos.Tutor = Request["nuevo_tutor"];

                    new WinBDDRazor.logic.cursos().NuevoCurso();
                }
            }
            catch (Exception)
            {
            }

            /// Modificar curso - 100%
            try
            {
                if (Request["modificar_curso"] != null)
                {
                    WinBDDRazor.logic.cursos.Codcur = Request["modificar_cod_cur"];
                    WinBDDRazor.logic.cursos.Descripcion = Request["modificar_descripcion"];
                    WinBDDRazor.logic.cursos.Horas = Convert.ToInt32(Request["modificar_horas"]);
                    WinBDDRazor.logic.cursos.Tutor = Request["modificar_tutor"];

                    new WinBDDRazor.logic.cursos().ActualizarCurso();
                }
            }
            catch (Exception)
            {
            }

            /// Eliminar curso - 100%
            try
            {
                if (Request["eliminar_curso"] != null && Request["eliminar_checkbox"] != null)
                {
                    WinBDDRazor.logic.cursos.Codcur = Request["eliminar_cod_cur"];
                    new WinBDDRazor.logic.cursos().BorrarCurso();
                }
            }
            catch (Exception)
            {
            }
        }

        /// Sea postback o no, carga el curso - 100%
        new WinBDDRazor.logic.cursos(0).GetCursoByPOSI();
        var codcur = WinBDDRazor.logic.cursos.Codcur;
        var descricpion = WinBDDRazor.logic.cursos.Descripcion;
        var horas = WinBDDRazor.logic.cursos.Horas;
        var tutor = WinBDDRazor.logic.cursos.Tutor;

    }
    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="cursos.cshtml">Cursos</a></li>
                    <li role="presentation"><a href="alumnos.cshtml">Alumnos</a></li>
                    <li role="presentation"><a href="notas.cshtml">Notas</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">WinBDD Razor</h3>
        </div>

        @* Cursos contenedor *@
        <div id="form-container">
            <form method="post" action="">
                <fieldset disabled>
                    <div class="form-group">
                        <label for="cod_cur">Codigo de curso</label>
                        <input type="text" class="form-control" id="cod_cur" placeholder="Codigo de curso" value="@codcur">
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripcion</label>
                        <input type="text" class="form-control" id="descripcion" placeholder="Descripcion" value="@descricpion">
                    </div>
                    <div class="form-group">
                        <label for="horas">Horas</label>
                        <input type="text" class="form-control" id="horas" placeholder="Horas" value="@horas">
                    </div>
                    <div class="form-group">
                        <label for="tutor">Tutor</label>
                        <input type="text" class="form-control" id="tutor" placeholder="Tutor" value="@tutor">
                    </div>
                </fieldset>
                <div class="text-center">
                    <div class="form-group btn-group ">
                        <button type="submit" class="btn btn-default" name="cambiocur" id="primero" value="0">Primero</button>
                        <button type="submit" class="btn btn-default" name="cambiocur" id="anterior" value="1">Anterior</button>
                        <button type="submit" class="btn btn-default" name="cambiocur" id="siguiente" value="2">Siguiente</button>
                        <button type="submit" class="btn btn-default" name="cambiocur" id="ultimo" value="3">Ultimo</button>
                    </div>
                </div>
            </form>
            <div class="text-center">
                <div class="btn-group" style="text-align:center;">
                    <!-- Small modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-nuevo-modal-sm">Nuevo</button>
                    <button type="submit" class="btn btn-warning" data-toggle="modal" data-target=".bs-modificar-modal-sm">Modificar</button>
                    <button type="submit" class="btn btn-danger" data-toggle="modal" data-target=".bs-borrar-modal-sm">Borrar</button>
                </div>
            </div>
        </div>

        @* Modal nuevo curso *@
        <div class="modal fade bs-nuevo-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="text-center">
                        <h2>Nuevo curso</h2>
                    </div>
                    <div id="modal-form-container">
                        <form method="post" action="">
                            <div class="form-group">
                                <label for="cod_cur">Codigo de curso</label>
                                <input type="text" class="form-control" id="cod_cur" placeholder="Codigo de curso" name="nuevo_codcur">
                            </div>
                            <div class="form-group">
                                <label for="descripcion">Descripcion</label>
                                <input type="text" class="form-control" id="descripcion" placeholder="Descripcion" name="nuevo_descripcion">
                            </div>
                            <div class="form-group">
                                <label for="horas">Horas</label>
                                <input type="text" class="form-control" id="horas" placeholder="Horas" name="nuevo_horas">
                            </div>
                            <div class="form-group">
                                <label for="tutor">Tutor</label>
                                <input type="text" class="form-control" id="tutor" placeholder="Tutor" name="nuevo_tutor">
                            </div>
                            <div class="text-center">
                                <div class="form-group btn-group" style="margin-bottom: -15px;">
                                    <button type="submit" class="btn btn-success" name="nuevo_confirmar">Confirmar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        @* Modal modificar curso *@
        <div class="modal fade bs-modificar-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="text-center">
                        <h2>Modificar curso</h2>
                    </div>
                    <div id="modal-form-container">
                        <form method="post" action="">
                            <div class="form-group">
                                <label for="cod_cur">Codigo de curso</label>
                                <input type="text" class="form-control" name="modificar_cod_cur" placeholder="Codigo de curso" value="@codcur" readonly>
                            </div>
                            <div class="form-group">
                                <label for="descripcion">Descripcion</label>
                                <input type="text" class="form-control" name="modificar_descripcion" placeholder="Descripcion" value="@descricpion">
                            </div>
                            <div class="form-group">
                                <label for="horas">Horas</label>
                                <input type="text" class="form-control" name="modificar_horas" placeholder="Horas" value="@horas">
                            </div>
                            <div class="form-group">
                                <label for="tutor">Tutor</label>
                                <input type="text" class="form-control" name="modificar_tutor" placeholder="Tutor" value="@tutor">
                            </div>
                            <div class="text-center">
                                <div class="form-group btn-group" style="margin-bottom: -15px;">
                                    <button type="submit" class="btn btn-success" name="modificar_curso">Confirmar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        @* Modal borrar curso *@
        <div class="modal fade bs-borrar-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="text-center">
                        <h2>Borrar curso</h2>
                    </div>
                    <div id="modal-form-container">
                        <form method="post" action="">
                            <div class="form-group">
                                <label for="cod_cur">Codigo de curso</label>
                                <input type="text" class="form-control" name="eliminar_cod_cur" placeholder="Codigo de curso" value="@codcur" readonly>
                            </div>
                            <div class="form-group">
                                <label for="descripcion">Descripcion</label>
                                <input type="text" class="form-control" id="descripcion" placeholder="Descripcion" value="@descricpion" readonly>
                            </div>
                            <div class="form-group">
                                <label for="horas">Horas</label>
                                <input type="text" class="form-control" id="horas" placeholder="Horas" value="@horas" readonly>
                            </div>
                            <div class="form-group">
                                <label for="tutor">Tutor</label>
                                <input type="text" class="form-control" id="tutor" placeholder="Tutor" value="@tutor" readonly>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="eliminar_checkbox" value="option1" aria-label="...">
                                        Confirmar para borrar curso
                                    </label>
                                </div>
                            </div>
                            <div class="text-center">
                                <div class="form-group btn-group" style="margin-bottom: -15px;">
                                    <button type="submit" name="eliminar_curso" class="btn btn-danger">Confirmar</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <p style="text-align:center">&copy; Emiliano Montesdeoca del Puerto - 1DAWB - PRO.</p>
        </footer>
    </div> <!-- /container -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="assets/js/bootstrap.js"></script>
</body>
</html>
